@CHARSET "UTF-8";
/*基本*/
html{ padding: 0; margin: 0; font-size: 625%; -webkit-tap-highlight-color: rgba(0,0,0,0);/* 去除点击蓝色背景 */-webkit-text-size-adjust:none;-webkit-overflow-scrolling:touch;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body{color: #000; background-color: #f2f2f3; width: 100%; overflow-x: hidden; margin: 0 auto; font-family:sans-serif; font-size: 14px; font-size: 0.14rem; max-width: 6.4rem;}
img{display: block; border: none; }
b,strong {font-weight: bold;}
table { border-collapse: collapse; border-spacing: 0;}
li{ list-style: none outside none;}
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
ol,ul{overflow: hidden;}

/* 解决Safari下横屏样式改变的问题 */
@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:none}}
@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:none}}
@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:none}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:none}}

/*链接*/
a{ text-decoration:none; color:#000; background: transparent;  outline:none}
a:focus { outline:none; }
a:hover, a:active{ outline:none;}

/* 公共 */
.none{display: none}
.block{display: block}
.fl{float: left;}
.fr{float: right;}
/* margin */
.mt5{margin-top: 0.05rem;}
.mt10{margin-top: 0.1rem;}
.mt20{margin-top: 0.2rem;}
.ml5{margin-left: 5%;}
.mr5{margin-right: 5%;}
.mauto{margin-left: auto; margin-right: auto;}
/* 高度 */
.h10{height: 0.1rem; width: 100%;}
.h20{height: 0.2rem; width: 100%;}
.h24{height: 0.24rem; line-height: 0.24rem;}
.h32{height: 0.32rem; line-height: 0.32rem;}
.h34{height: 0.34rem; line-height: 0.34rem;}
.h42{height: 0.42rem; line-height: 0.42rem;}
.h44{height: 0.44rem; line-height: 0.44rem;}
/* padding */
.pnone{padding: 0!important}
.plr10{padding-left: 0.1rem; padding-right: 0.1rem;}
.ptb10{padding-top: 0.1rem; padding-bottom: 0.1rem;}
.pleft10{padding-left: 0.2rem;}
/* 宽度百分比 */
.w10{width: 10%;}
.w15{width: 15%;}
.w20{width: 20%;}
.w25{width: 25%;}
.w30{width: 30%;}
.w35{width: 35%;}
.w40{width: 40%;}
.w45{width: 45%;}
.w50{width: 50%;}
.w55{width: 55%;}
.w60{width: 60%;}
.w65{width: 65%;}
.w70{width: 70%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w85{width: 85%;}
.w90{width: 90%;}
.w95{width: 95%;}
.w98{width: 98%}
.w100{width: 100%;}
/* 背景 */
.whiteBg{background-color: #fff;}
.blue-1{background-color: #27aeff;}
.blue-2{background-color: #337AB7}
.orange-1{background-color: #f60;}
.orange-2{background-color: #f50;}
.orange-3{background-color: #ff7f29;}
.red-1{background-color: #D9534F;}
.green-1{background-color: #5cb85c;}
.green-2{background-color: #00c800;}
.green-3{background-color: #97c03d;}
.green-4{background-color: #46b7ab;}
/* 边框 */
.bnone{border: none!important}
.brnone{border-right: none!important;}
.border-orange{border: 1px solid #f60;}
.borderGray{background: url(../images/icon/border.png) repeat-y center center;}
/* 字体 */
.white{color: #fff;}
.orange{color: #f60;}
.blue{color: #286eea;}
.f12{font-size: 0.12rem;}
.f16{font-size: 0.16rem;}
.f18{font-size: 0.18rem;}
.f20{font-size: 0.2rem;}
.b{font-weight: bold;}
/* 按钮 */
.btn{
	display: block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    background-image: none;
}
.btn:active,a:active{
	opacity: 0.5
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width:35px;
    height:35px;
    vertical-align: middle;
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
}
.icon-edit {
    background-position: -20px -87px;
}
.icon-kefu {
    background-position: -141px -87px;
}
.icon-trend {
    background-position: -62px -89px;
}
.icon-download {
    background-position: -262px -89px;
}
.icon-kskh{
	background: url(../images/icon/kskh_sy.png) no-repeat!important;
	background-size: 80%!important;
}
.kskh{
	font-size: 0.2rem;
	letter-spacing: 0.1rem;
}
.border{border: 1px solid #d8d8d8;background-color: #fff; overflow: hidden; padding-bottom: 0.1rem;}
.border>img{width: 100%;}
/* align */
.alignLeft{text-align: left!important;}
.alignRight{text-align: right!important;}
.alignCenter{text-align: center;}

orange{color: #FF5500;}
.shadow{box-shadow: 0.02rem 0.02rem 0.03rem rgba(0,0,0,0.4);}
.shadow-1{box-shadow: 0 0 0.03rem rgba(0,0,0,0.4);}
.vhidden{overflow: hidden}
.fontLg{font-size: 0.16rem!important;}
.fontWg{font-weight: bold!important}
.radius{
	-webkit-border-radius: 0.04rem;
	-moz-border-radius: 0.04rem;
	-ms-border-radius: 0.04rem;
	-o-border-radius: 0.04rem;
	border-radius: 0.04rem;
}
.wrapper{
	display: block;
	width: 93.75%;
	margin: 0 auto;
}

/* 首页 */
.banner{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.tabPageination{
	width: 100%;
	overflow: hidden;
	outline: none;
}
.tabPageination span.sytab-pagination-bullet{/* swiper分页 */
	float: left;
	width: 33.333333%;
	height: 0.32rem;
	line-height: 0.32rem;
	text-align: center;
	font-size: 0.14rem;
	border-bottom: 1px solid #d8d8d8;
}
.tabPageination span.sytab-pagination-bullet-active {/* swiper分页 */
	border-bottom-color: #FF5500;
	color: #FF5500;
}
.conPad{
	padding: 0.1rem 0.08rem 0 0.08rem;
}
#indexSy{
	width: 100%;
}
#indexSy td{
	text-align: left;
	padding: 0.1rem 0;
}
#indexSy td img{
	display: inline-block;
	float: left;
	width: 22%;
	vertical-align: middle;
}
#indexSy td h4{
	font-size: 0.14rem;
}
#indexSy td p{
	font-size: 0.12rem;
}
#syol li{
	font-size: 0.14rem;
	margin: 0.2rem 0;
}
#syol li b{
	font-size: 0.16rem;
}
.syButtons{
	width: 100%;
}
.syButtons td{
	width: 25%;
	text-align: center;
}
.syButtons td a{
	width: 94%;
}
.syButtons a{
	color: #bc330d;
	border: 1px solid #bc330d;
	font-weight: bold
}
/* 开户流程 */
.figure-list li{
	float: left;
	display: block;
	width: 28.3333%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.figure-list figure{
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding-bottom: 100%; /* 关键就在这里 */
	background-color: red;
	border-radius: 50%;
}
.figure-list figure a{
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 24%;
	color: #fff;
	left: 0;
}
.figure-list figure a b{
	font-size: 0.16rem;
}
.figure-list figure a p{
	font-size: 0.1rem;
}
.Triangle-box{
	
}
#zcBank{
	text-align: center;
}
#zcBank p{
	font-size: 0.16rem;
	line-height: 0.24rem;
}
.conPad>img{
	width: 100%;
	margin-top: 0.1rem;
}
.sp_tip{
	width: 84%;
	font-size: 0.12rem;
}
.sp3{
	width: 90%
}
.sp_tip p{
	line-height: 0.2rem;
}
.spLc{
	width: 80%;
	height: 0.5rem;
	border-bottom: 1px solid #999;
	position: relative;
}
.spLc section{
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 100%;
	background-color: #d8d8d8;
	position: absolute;
	bottom: -0.1rem;
}
.spLc section.splc1{
	left: 0;
}
.spLc section.splc2{
	left: 33.33%;
	margin-left: -0.1rem;
}
.spLc section.splc3{
	left: 66.67%;
	margin-left: -0.1rem;
}
.spLc section.splc4{
	right: 0;
}
.spLc section.splc_active{
	background-color: #f50
}
.spLc section span{
	display: block;
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 100%;
	background-color: #fff;
	margin: 0.05rem auto;
}
.spLc_tip{
	display: block;
	position: absolute;
	width: auto;
	white-space:nowrap;
	background-color: #ff5500;
	color: #fff;
	padding: 0.05rem 0.1rem;
	font-size: 0.12rem;
	top: -0.33rem;
}
.spLc_tip .dec{
	border-left: 0.08rem solid transparent;
	border-right: 0.08rem solid transparent;
	border-top: 0.08rem solid #f50;
	bottom: -0.06rem;
}
.spLc_tipLeft{
	left: -0.08rem;
}
.spLc_tipLeft .dec{
	left: 0.1rem;
}
.spLc_tipRight{
	right: -0.08rem;
}
.spLc_tipRight .dec{
	left: auto;
	right: 0.1rem;
}
/* 自定义下拉单 */
.nice-select-div{
	width: 100%;
	position: relative;
	background-color: #efe;
	font-size: 0.14rem
}
.smallSjx{
	width: 0.2rem;
	height: 0.32rem;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../images/icon/a2.png) no-repeat center center;
}
.nice-select{
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 999;
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	width: 100%;
	padding-left: 0.05rem;
	background-color: #fff;
}
.nice-select-div .nice-select{
	border-left: none;
	border-right: none;
}
.nice-select li{
	background-color: #fff;
	padding: 0.05rem 0;
	font-size: 0.14rem;
	text-align: left;
}
span.nice-select-input{
	display: inline-block;
	padding-left: 0.05rem;
	height: 0.32rem;
	width: 100%;
	line-height: 0.32rem;
	font-size: 0.14rem;
	border-bottom: 1px solid #d8d8d8;
}
.sp3_txt{
	padding: 0.1rem 0.05rem;
	height: 2.7rem;
	overflow-y: scroll
}
.sp3_txt_div h1{
	font-size: 0.14rem;
	margin-bottom: 0.05rem;
	text-align: center;
}
.sp3_txt_div b,.sp3_txt_div p,.sp3_txt_div orange,.sp3_txt_div a,.sp3_txt_div span{
	font-size: 0.12rem;
}
.sp3_txt_div a{
	color: #03e
}
.sp3_txt_div p{
	margin: 0.05rem 0;
	text-indent: 2em;
}
.sp3_tip{
	margin-left: 5%;
}
.sp3_tip label,.sp3_tip orange{
	font-size: 0.12rem;
	line-height: 0.2rem
}

.sp4_padding{
	padding-left: 0.7rem;
	position: relative;
}
.sp4_padding i{
	display: block;
	position: absolute;
	width: 0.7rem;
	top: 0;
	left: 0;
}
.sp4_con{
	height: 0.5rem;
	padding-top: 0.05rem;
}
.sp4_con i{
	height: 0.55rem;
	background: url(../images/icon.png) no-repeat -537px -12px;
}
.sp4_mess i{
	height: 0.76rem;
	background: url(../images/icon.png) no-repeat -400px -66px;
}
.sp4_con{
	font-size: 0.12rem;
}
.sp4_mz p{
	text-indent: 2em;
	font-size: 0.12rem;
}
.sp4-qq{
	background: url(../images/icon/qqzx.png) no-repeat 0 center;
	
}
.sp4-ph{
	background: url(../images/icon/rexian.png) no-repeat 0 center;
}
.dec {
	width: 0; 
	height: 0; 
	border-left: 0 solid transparent;
	border-right: 0.14rem solid transparent;
	border-top: 0.08rem solid rgba(0,0,0,0.7);
	position: absolute;
	bottom: -0.08rem;
	left: 0.1rem;
}

/* 产品 */
#zoushiBox{
	position: relative;
}
.zoushi{
	width: 100%;
	height: 2.4rem;
}
.column_title{
	
}

/*** 关于易润 ***/
.analyst-img{
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-bottom: 100%;
	border-radius: 50%;
	box-shadow: 0 0 6px rgba(0,0,0,0.6);
}
.analyst-img img{
	width: 100%;
}
#analyst-rp a{
	display: block;
	border: 1px solid #d8d8d8;
	padding-left: 0.1rem;
	background-color: #fff;
	height: 0.4rem;
	border-radius: 0.03rem;
	line-height: 0.4rem;
	margin: 0.05rem 0;
	box-shadow: 0rem 0.01rem 0.02rem rgba(0,0,0,0.1);
	overflow: hidden;
}
#analyst-rp a orange{
	font-weight: bold;
}
#analyst-order orange{
	font-size: 0.18rem;
}
#aboutYr h1{
	font-size: 0.14rem;
	font-weight: bold;
	line-height: 0.3rem;
}
#aboutYr p{
	font-size: 0.12rem;
	text-indent: 2em;
	margin: 0.05rem 0;
	line-height: 0.18rem;
}
/* 立即咨询 */
.consult-tit{
	height: 0.36rem;
	line-height: 0.36rem;
	border: 2px solid #f60;
	font-size: 0.16rem;
	font-weight: bold;
	letter-spacing: 0.03rem;
	background-color: #fff;
}
#consult-now div{
	width: 23%;
	float: left;
	margin: 1%;
}
#consult-now div img,#consult-now div a{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: none!important
}
#consult-now div img{
	margin-bottom: 0.1rem;
}
/* 客户案例 */
#case h1{
	font-size: 0.18rem;
	font-weight: bold;
}
#case-table td{
	padding: 0.05rem 0
}
.yr-table{
	width: 100%;
}
.yr-table td{
	vertical-align: middle;
}
.yr-table td>img{
	width: 100%;
}
.case-img{
	width: 74%;
	height: 0;
	padding-bottom: 74%;
	border-radius: 50%;
	margin-left: 13%;
	overflow: hidden;
}
.case-img img{
	width: 100%;
}
/* QA */
#qa section{
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px dashed #b1b2b6;
	overflow: hidden;
}
#qa section span{
	display: block;
	padding-left: 0.3rem;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	padding-right: 20px;
	background: url(../images/icon/ar.png) no-repeat right center;
	font-size: 0.12rem;
	font-weight: bold;
}
#qa section span.active{
	background: url(../images/icon/xz.png) no-repeat right center;
}
#qa section span orange{
	margin-left: -0.24rem;
}
#qa section p{
	padding-bottom: 0.1rem;
	padding-left: 0.08rem;
	line-height: 0.2rem;
	display: none;
}
.early{
	display: block;
	padding: 0.1rem 0.06rem;
	text-align: center;
	background-color: #f60;
	color: #fff;
	font-size: 0.16rem;
	font-weight: bold;
	margin-right: 20%;
}
.analyst-box{
	width: 94%;
	padding-top: 0.06rem;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	vertical-align: middle;
	padding-left: 0.05rem;
	padding-right: 0.05rem;
}
#test{
	padding-top: 0.1rem;
}
#test h1{
	font-size: 0.16rem;
	font-weight: bold;
}
#test li{
	height: 0.22rem;
	line-height: 0.22rem;
	font-size: 0.14rem;
	vertical-align: middle;
	margin: 0.1rem 0;
	padding-left: 0.2rem;
}
.test-round{
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	border: 1px solid #999;
	border-radius: 50%;
	vertical-align: middle;
	margin: 0 0.06rem;
}
.test-round div{
	width: 0.12rem;
	height: 0.12rem;
	background-color: #fff;
	border-radius: 50%;
	margin: 0.04rem auto;
}
.test-active{
	border: 1px solid #f60!important;
}
.test-active div{
	background-color: #f60!important
}
.test-result{
	padding: 0.05rem;
}
.test-result-text orange{
	display: block;
	font-size: 0.14rem;
	font-weight: bold;
	margin-bottom: 0.05rem;
}
#customer{
	background: url(../images/pic/kfzx.jpg) no-repeat;
	background-size: 100%;
}
.customer-list{
	width: 80%;
	height: 0;
	padding-bottom: 60%;
	padding-top: 5%;
}
#customerTel{
	display: block;
	width: 1.38rem;
	padding: 0.1rem 0.1rem 0.1rem 0.55rem;
	background:#fff url(../images/icon/phone.png) no-repeat 0.1rem center;
	background-size: 0.4rem 0.4rem;
	position: relative;
}
#customerTel orange{
	font-size: 0.2rem;
	letter-spacing: 0;
}
#customerTel p{
	font-size: 0.13rem;
}
#customerTel i{
	display: block;
	width: 0.3rem;
	height: 0.3rem;
	background: url(../images/icon/hand.png) no-repeat;
	background-size: 0.3rem 0.3rem;
	position: absolute;
	bottom: -0.2rem;
	right: -0.2rem;
}
.swiper-container {
	width: 100%;
}
.gallery-thumbs {
    box-sizing: border-box;
}
.gallery-thumbs .swiper-slide {
    width: 30%;
    height: 0.32rem;
    line-height: 0.32rem;
    color: #333;
    text-align: center;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    background-color: #fff;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
    background-color: #f60;
    color: #fff;
    border-bottom-color: #f60;
    position: relative;
}
.gallery-top thead th{
	border: 1px solid #d8d8d8;
}
.gallery-top tbody td{
	border: 1px solid #d8d8d8;
	padding-left: 0.05rem;
}
#data{
	height: 3.6rem;
}
#data thead th{
	height: 0.5rem;
	background-color: #d8d8d8;
	font-size: 0.16rem;
}
#data tbody td{
	height: 0.32rem;
	font-size: 0.16rem
}
#data tbody tr{
	border-bottom: 1px solid #d8d8d8;
}
.data-active{
	background-color: #f60;
	color: #fff;
}
.data-tu{
	width: 100%;
	height: 4.15rem;
	border: none;
	overflow: hidden;
}
/* head */
header{
	position: relative;
	vertical-align: middle;
	padding: 0.05rem 0;
	background-color: #fff;
}
header a{
	margin-left: 2%;
}
header span{
	position: absolute;
	width: 30%;
	height: 0;
	padding-bottom: 7%;
	right: 0;
	background:url(../images/icon/caid.png) no-repeat;
	background-position: 90% center;
	background-size: 25%;
}
.nav{
	position: absolute;
	bottom: -2.45rem;
	width: 35%;
	right: -35%;
	background-color: rgb(255,102,0);
	z-index: 999;
	border-top-left-radius: 0.03rem;
	border-bottom-left-radius: 0.03rem;
}
.nav a{
	display: block;
	color: #fff;
	width: 100%;
	text-align: center;
	line-height: 0.4rem;
	height: 0.4rem;
	margin-left: 0;
	border-top: 1px solid rgba(255,255,255,0.5);
}
.nav a:active{
	opacity: 0.5
}
.nav i{
	display: block;
	width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(255,102,0,0.75);
    position: absolute;
    top: -6px;
    right: 15%;
}
footer{
	width: 100%;
	height: 0.41rem;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
}
footer td{
	height: 0.3rem;
	padding-top: 0.05rem;
	width: 25%;
	border-right: 1px solid #f40;
	background-color: rgb(255,102,0);
	text-align: center;
	vertical-align: bottom;
}
footer td img{
	display: block;
	width: 0.2rem;
	height: 0.2rem;
	margin: 0 auto;
}
footer td p{
	display: block;
	color: #fff;
	font-size: 0.14rem;
}
.home{
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	background-color: #09f;
	position: fixed;
	right: 0;
	bottom: 0;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	font-size: 0.12rem;
}
.home img{
	width: 50%;
}
@media screen and (min-width: 360px){
	
}