body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:584px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:0px;
  width:354px;
  height:664px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:664px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:273px;
  top:515px;
  width:19px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:398px;
  top:515px;
  width:20px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:453px;
  top:518px;
  width:25px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:518px;
  top:517px;
  width:23px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:335px;
  top:515px;
  width:20px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:260px;
  top:121px;
  width:295px;
  height:24px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:527px;
  top:123px;
  width:21px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:287px;
  top:353px;
  width:261px;
  height:117px;
  font-size:16px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:117px;
}
#u16 {
  position:absolute;
  left:2px;
  top:11px;
  width:257px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:270px;
  top:147px;
  width:275px;
  height:60px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:60px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:406px;
  top:359px;
  width:135px;
  height:81px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:291px;
  top:154px;
  width:229px;
  height:45px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:280px;
  top:213px;
  width:268px;
  height:117px;
  font-size:16px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:117px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:264px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:398px;
  top:217px;
  width:134px;
  height:75px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:75px;
}
#u25 {
  position:absolute;
  left:2px;
  top:30px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:267px;
  top:217px;
  width:10px;
  height:273px;
}
#u26_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u26_end {
  position:absolute;
  left:-5px;
  top:256px;
  width:20px;
  height:18px;
}
#u26_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:273px;
}
#u27 {
  position:absolute;
  left:265px;
  top:223px;
  width:16px;
  height:13px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:264px;
  top:359px;
  width:16px;
  height:13px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:270px;
  top:483px;
  width:277px;
  height:27px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF9900;
  text-align:center;
}
