body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:584px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:0px;
  width:354px;
  height:664px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:664px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:273px;
  top:515px;
  width:19px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:398px;
  top:515px;
  width:20px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:453px;
  top:518px;
  width:25px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:518px;
  top:517px;
  width:23px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:335px;
  top:515px;
  width:20px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:29px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:260px;
  top:121px;
  width:295px;
  height:24px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:301px;
  height:30px;
}
#u13 {
  position:absolute;
  left:527px;
  top:123px;
  width:21px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:270px;
  top:149px;
  width:275px;
  height:60px;
}
#u15_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:279px;
  height:64px;
}
#u16 {
  position:absolute;
  left:2px;
  top:22px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:291px;
  top:156px;
  width:229px;
  height:45px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:235px;
  height:51px;
}
#u18 {
  position:absolute;
  left:272px;
  top:225px;
  width:272px;
  height:35px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF9900;
  text-align:left;
}
#u18_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:278px;
  height:41px;
}
#u19 {
  position:absolute;
  left:273px;
  top:270px;
  width:272px;
  height:35px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF9900;
  text-align:left;
}
#u19_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:278px;
  height:41px;
}
#u20 {
  position:absolute;
  left:273px;
  top:315px;
  width:272px;
  height:35px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CC0000;
  text-align:left;
}
#u20_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:278px;
  height:41px;
}
#u21 {
  position:absolute;
  left:274px;
  top:360px;
  width:272px;
  height:35px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CC0000;
  text-align:left;
}
#u21_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:278px;
  height:41px;
}
#u22 {
  position:absolute;
  left:273px;
  top:405px;
  width:272px;
  height:35px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF9900;
  text-align:left;
}
#u22_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:278px;
  height:41px;
}
#u23 {
  position:absolute;
  left:274px;
  top:450px;
  width:272px;
  height:35px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF9900;
  text-align:left;
}
#u23_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:278px;
  height:41px;
}
