body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:584px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:0px;
  width:354px;
  height:664px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:664px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:273px;
  top:515px;
  width:19px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:398px;
  top:515px;
  width:20px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:453px;
  top:518px;
  width:25px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:518px;
  top:517px;
  width:23px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:335px;
  top:515px;
  width:20px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:260px;
  top:120px;
  width:295px;
  height:24px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:268px;
  top:147px;
  width:277px;
  height:355px;
}
#u13_img {
  position:absolute;
  left:-15px;
  top:-15px;
  width:307px;
  height:385px;
}
#u14 {
  position:absolute;
  left:2px;
  top:170px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:268px;
  top:147px;
  width:277px;
  height:1133px;
  overflow:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:1133px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:460px;
  top:10px;
  width:270px;
  height:340px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:340px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:340px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:340px;
}
#u18 {
  position:absolute;
  left:2px;
  top:162px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:-10px;
  top:0px;
  width:280px;
  height:1130px;
  overflow:hidden;
}
#u19_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:1130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:500px;
  width:280px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:197px;
  width:280px;
  height:213px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:213px;
}
#u22 {
  position:absolute;
  left:2px;
  top:98px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:149px;
  width:280px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:276px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FF0000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:410px;
  width:280px;
  height:80px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:80px;
}
#u28 {
  position:absolute;
  left:2px;
  top:32px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:71px;
  top:86px;
  width:190px;
  height:23px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30 {
  position:absolute;
  left:70px;
  top:53px;
  width:190px;
  height:23px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:40px;
  top:118px;
  width:210px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u32 {
  position:absolute;
  left:30px;
  top:52px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:8px;
  top:88px;
  width:61px;
  height:1px;
  font-size:15px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:15px;
  top:491px;
  width:250px;
  height:36px;
  font-size:20px;
  color:#FF0000;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:15px;
  top:824px;
  width:250px;
  height:30px;
  font-size:20px;
  color:#FF0000;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:5px;
  top:953px;
  width:124px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:50px;
}
#u40_img.mouseDown {
}
#u40.mouseDown {
}
#u40_img.disabled {
}
#u40.disabled {
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:120px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:151px;
  top:954px;
  width:124px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:50px;
}
#u42_img.mouseDown {
}
#u42.mouseDown {
}
#u42_img.disabled {
}
#u42.disabled {
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:120px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:-9px;
  top:1013px;
  width:285px;
  height:115px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:115px;
}
#u45 {
  position:absolute;
  left:2px;
  top:50px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:27px;
  top:1041px;
  width:241px;
  height:68px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:68px;
}
#u47 {
  position:absolute;
  left:2px;
  top:26px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:15px;
  top:1038px;
  width:9px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:27px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:16px;
  top:1072px;
  width:5px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:15px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:16px;
  top:1090px;
  width:5px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:15px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:76px;
  top:894px;
  width:190px;
  height:23px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u55 {
  position:absolute;
  left:76px;
  top:861px;
  width:190px;
  height:23px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56 {
  position:absolute;
  left:46px;
  top:926px;
  width:210px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u57 {
  position:absolute;
  left:36px;
  top:860px;
  width:31px;
  height:17px;
  font-size:15px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:14px;
  top:896px;
  width:61px;
  height:1px;
  font-size:15px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:1px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:4px;
  top:520px;
  width:268px;
  height:150px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:150px;
}
#u61_img.mouseDown {
}
#u61.mouseDown {
}
#u61_img.disabled {
}
#u61.disabled {
}
#u62 {
  position:absolute;
  left:2px;
  top:54px;
  width:264px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:7px;
  top:675px;
  width:263px;
  height:149px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:149px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u64 {
  position:absolute;
  left:280px;
  top:160px;
  width:60px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65 {
  position:absolute;
  left:280px;
  top:125px;
  width:30px;
  height:25px;
  overflow:hidden;
}
#u65_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u65_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u65_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:388px;
  top:27px;
  width:38px;
  height:278px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:278px;
}
#u67 {
  position:absolute;
  left:2px;
  top:118px;
  width:34px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:385px;
  top:344px;
  width:38px;
  height:280px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:280px;
}
#u69 {
  position:absolute;
  left:2px;
  top:119px;
  width:34px;
  word-wrap:break-word;
}
