body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:584px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:0px;
  width:354px;
  height:664px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:664px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:273px;
  top:515px;
  width:19px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:398px;
  top:515px;
  width:20px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:453px;
  top:518px;
  width:25px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:518px;
  top:517px;
  width:23px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:335px;
  top:515px;
  width:20px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:260px;
  top:121px;
  width:295px;
  height:24px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:527px;
  top:123px;
  width:21px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:274px;
  top:155px;
  width:268px;
  height:35px;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:35px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:264px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:266px;
  top:249px;
  width:122px;
  height:107px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:107px;
}
#u18 {
  position:absolute;
  left:2px;
  top:46px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:380px;
  top:267px;
  width:166px;
  height:34px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:273px;
  top:432px;
  width:275px;
  height:70px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:280px;
  top:190px;
  width:90px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:380px;
  top:306px;
  width:166px;
  height:34px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:274px;
  top:200px;
  width:268px;
  height:48px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:48px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:416px;
  top:364px;
  width:129px;
  height:29px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:276px;
  top:364px;
  width:124px;
  height:29px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:276px;
  top:398px;
  width:124px;
  height:29px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29 {
  position:absolute;
  left:416px;
  top:398px;
  width:129px;
  height:29px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:274px;
  top:248px;
  width:200px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u31 {
  position:absolute;
  left:346px;
  top:351px;
  width:200px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
