body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:569px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:215px;
  top:-13px;
  width:354px;
  height:664px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:664px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:247px;
  top:106px;
  width:295px;
  height:24px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:259px;
  top:506px;
  width:19px;
  height:26px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u4 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:384px;
  top:506px;
  width:20px;
  height:27px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:439px;
  top:509px;
  width:25px;
  height:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:504px;
  top:508px;
  width:23px;
  height:23px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:321px;
  top:506px;
  width:20px;
  height:25px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:515px;
  top:113px;
  width:21px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:336px;
  top:138px;
  width:200px;
  height:200px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u16 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:349px;
  top:300px;
  width:200px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:360px;
  top:300px;
  width:200px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:257px;
  top:273px;
  width:63px;
  height:60px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:251px;
  top:422px;
  width:280px;
  height:55px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:55px;
}
#u24 {
  position:absolute;
  left:2px;
  top:20px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:250px;
  top:370px;
  width:280px;
  height:54px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:54px;
}
#u26 {
  position:absolute;
  left:2px;
  top:19px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:250px;
  top:343px;
  width:280px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:252px;
  top:473px;
  width:280px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29 {
  position:absolute;
  left:275px;
  top:138px;
  width:40px;
  height:97px;
  font-size:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:97px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
