body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:0px;
  width:354px;
  height:664px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:664px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:350px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:273px;
  top:515px;
  width:19px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:398px;
  top:515px;
  width:20px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:453px;
  top:518px;
  width:25px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:518px;
  top:517px;
  width:23px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:335px;
  top:515px;
  width:20px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:260px;
  top:120px;
  width:295px;
  height:24px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:264px;
  top:150px;
  width:287px;
  height:355px;
}
#u13_img {
  position:absolute;
  left:-15px;
  top:-15px;
  width:317px;
  height:385px;
}
#u14 {
  position:absolute;
  left:2px;
  top:170px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:602px;
  top:144px;
  width:278px;
  height:340px;
  overflow:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:340px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:1px;
  top:342px;
  width:285px;
  height:350px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:350px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:286px;
  height:350px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:350px;
}
#u18 {
  position:absolute;
  left:2px;
  top:167px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:340px;
  overflow:hidden;
}
#u19_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:340px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:340px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:340px;
}
#u21 {
  position:absolute;
  left:2px;
  top:162px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:340px;
  top:285px;
  width:60px;
  height:15px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:280px;
  top:125px;
  width:30px;
  height:25px;
  overflow:hidden;
}
#u23_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:269px;
  top:164px;
  width:277px;
  height:330px;
}
#u24_img {
  position:absolute;
  left:-15px;
  top:-15px;
  width:307px;
  height:360px;
}
#u25 {
  position:absolute;
  left:2px;
  top:157px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:270px;
  top:169px;
  width:274px;
  height:319px;
  overflow:hidden;
}
#u26_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:319px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:270px;
  top:0px;
  width:270px;
  height:320px;
  overflow:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:320px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:2px;
  top:0px;
  width:261px;
  height:320px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:320px;
}
#u29 {
  position:absolute;
  left:2px;
  top:152px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:320px;
  overflow:hidden;
}
#u30_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:320px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:320px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:320px;
}
#u32 {
  position:absolute;
  left:2px;
  top:152px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:280px;
  top:355px;
  width:60px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:0px;
  top:65px;
  width:30px;
  height:25px;
  overflow:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:269px;
  top:169px;
  width:23px;
  height:319px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:319px;
}
#u36 {
  position:absolute;
  left:2px;
  top:138px;
  width:19px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:521px;
  top:169px;
  width:23px;
  height:319px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:319px;
}
#u38 {
  position:absolute;
  left:2px;
  top:138px;
  width:19px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:671px;
  top:100px;
  width:129px;
  height:37px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
